* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%; height: 100%;
  position: absolute;
  background: #f2f2f2;
}
.hidden {
  display: none;
}
nav {
  height: 100%; width: 280px;
  position: absolute;
  top: 0; left: 0;
  background: #1A2639;
}
#search-box {
  width: 100%; height: 66px;
  background: #131c2a;
}
#form-search {
  height: 66px;
}
#form-search img{
  width: 18px; height: 15px;
  position: absolute;
  cursor: pointer;
  background: #384b66;
  padding: 11px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 14.5px 0 15.5px 20px;
  border-right: 1px solid #1A2639;
}
#form-search img:hover{
  background: #2f3f55;
}
#form-search input[type="text"]{
  width: 178px; height: 37px;
  background: #131c2a; color: #4c678c;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; font-size: 16px;
  outline: none; border: none;
  position: relative; top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-left: 61px;
  background: #202f47;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 10px 0 10px;
}
#form-search input[type="text"]::-webkit-input-placeholder {
   color: #466085;
}
#form-search input[type="text"]::-moz-placeholder {
   color: #466085;
}
#form-search input[type="text"]:-ms-input-placeholder {
   color: #466085;
}
main {
  width: calc(100% - 280px); height: 65px;
  background: #ffffff;
  position: absolute;
  top: 0; right: 0;
  border-bottom: 1px solid #e7e3e3;
}
#setting-button{
  height: 40px; width: 40px;
  position: absolute;
  top: 0; right: 0;
  cursor: pointer;
  margin: 12.5px;
}
#setting-button:hover{
  background: #f2f2f2;
  border-radius: 7px;
}
#settings-box {
  position: absolute;
  width: 150px; height: 90px;
  top: 66px; right: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 3px #bdbdbd;
  z-index: 100;
}
.settings-item {
  width: 100%; height: 45px;
  display: inline-block;
  background: white;
  outline: none; border: none;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
}
.settings-item:hover {
  background: #f9f9f9;
}
.settings-item img{
  position: absolute;
  width: 20px;
  display: inline-block;
}
.settings-item p{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; font-size: 16px;
  display: inline-block;
  position: relative;
  margin-left: 40px;
}
#menu-option {
  height: 20px; width: 5px;
  position: relative;
  margin: auto;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
#images-section {
  width: calc(100% - 280px); height: calc(100% - 65px);
  position: absolute;
  bottom: 0; right: 0;
  /*text-align: center;*/
  overflow-x: scroll;
}
.image-box {
  width: 18%; height: 185px;
  position: relative;
  display: inline-block;
  background: #ffffff;
  margin: 1% 1%;
  border: 1px solid #dfdbdb;
}
.image-fill {
  position: relative;
  width: 100%; height: calc(100% - 30px);
  display: block;
  overflow: hidden;
  border: none; outline: none;
  cursor: pointer;
}
.image-fill img{
  width: 100%; height: 100%;
}
.image-info-box {
  position: relative;
  width: 100%; height: 30px;
  display: block;
}
.image-info-datatype {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; font-size: 12px;
  margin: 8px 30px;
  position: absolute;
}
.checkbox-image {
  position: absolute;
  margin: 9px;
}
#upload-open-main {
  height: 40px; width: 40px;
  position: absolute;
  top: 0; left: 0;
  cursor: pointer;
  margin: 12.5px;
}
#upload-open-main:hover {
  background: #f2f2f2;
  border-radius: 7px;
}
#upload-open-main img {
  margin: 10px;
  width: 20px; height: 20px;
}

#upload-page {
  width: 100%; height: 100%;
  position: absolute;
  background: rgba(57, 57, 57, 0.65);
  z-index: 200;
}
#upload-block{
  width: 600px; height: 400px;
  position: absolute;
  background: white;
  top: calc(50% - 200px);
  right: calc(50% - 300px);
  border-radius: 5px;
}
#upload-block-data {
  width: 100%; height: 350px;
  position: absolute;
  top: 0; left: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow-x: scroll;
}
#upload-block-data tbody{
  width: 100%; height: 350px;
  position: absolute;
  top: 0; left: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow-x: scroll;
}
#upload-table-block {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  height: 40px; width: calc(100% - 4px);
  display: block;
}
#upload-table-block td{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; font-size: 15px;
  padding: 11.5px;
}
.upload-image-size {
  width: 100px;
  right: 0;
}
.upload-image-name {
  width: 500px;
}
.upload-image-progress {
  width: 200px;
}
#info-upload-beforeimage {
  background: #ffffff;
  width: 100%; height: 100%;
  border: none; outline: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#info-upload-beforeimage:disabled {
  display: none;
}
#info-upload-beforeimage p {
  color: #626060;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700; font-size: 19px;
  margin-top: 10px;
}
#info-upload-beforeimage img {
  width: 40px;
  margin: 0 auto;
}
#upload-block-menu {
  width: 100%; height: 60px;
  position: absolute;
  border-top: 1px solid #e6e0e0;
  bottom: 0; left: 0;
  background: #f1f1f1;
}
#upload-cancel-button {
  margin: 10px;
  height: 40px; width: 100px;
  background: #0097f7;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  position: absolute; right: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; font-size: 13px;
}
#upload-cancel-button:hover {
  background: #0469a8;
}
#upload-chosefiles-button{
  position: absolute;
  margin: 21px;
}
#upload-allfiles-button{
  margin: 10px;
  height: 40px; width: 100px;
  background: #0097f7;
  position: absolute;
  right: 110px;
  border-radius: 5px;
  color: #ffffff;
  outline: none; border: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; font-size: 15px;
  cursor: pointer;
}
#upload-allfiles-button:disabled {
  display: none;
}
#upload-allfiles-button:hover {
  background: #0469a8;
}
#delete-box {
  width: 100%; height: 120px;
  border-bottom: 1px solid #131c2a;
}
#delete-box p{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300; font-size: 18px;
  color: #4c678c;
  margin-top: 20px;
}
#image-delete-click{
  width: 70%; height: 40px;
  background: #1641f7;
  outline: none; border: none;
  border-radius: 5px;
  margin: 20px 15% 0 15%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300; font-size: 15px;
  color: white;
}
#image-delete-click:hover{
  background: #1135cf;
}
#image_info_page {
  width: calc(100% - 280px); height: calc(100% - 65px);
  position: absolute;
  bottom: 0; right: 0;
  overflow-x: scroll;
  background: #f2f2f2;
  z-index: 1;
  border-top: 1px solid #e7e3e3;
}
#image_info {
  position: absolute;
  background: #ffffff;
  width: 90%; height: 300px;
  border-radius: 5px;
  margin: 30px 5%;
  border: 1px solid #e6e0e0;
}
#image-info-page-close {
  margin: 10px;
  height: 40px; width: 100px;
  background: #0097f7;
  color: #ffffff;
  text-align: center;
  cursor: pointer; border: none; outline: none;
  position: absolute; right: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; font-size: 13px;
}
#image-info-page-close:hover {
  background: #0488db;
}
#image_info_title {
  width: 100%; height: 60px;
  position: absolute;
  background: #fafafa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #e6e0e0;
}
#image_info_title p{
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; font-size: 18px;
  margin: 19.5px;
}
#image_info_body {
  width: 100%; height: calc(100% - 60px);
  bottom: 0; left: 0;
  position: absolute;
}
#image_info_body img{
  width: 100%;
  margin-bottom: 40px;
}
#image-categories {
  width: 280px; height: 100%;
  background: #213049;
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 0;
}
#category-title {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #5c7ca8;
  margin-top: 20px;
}
#image-categories-box {
  width: 80%; height: calc(100% - 140px);
  margin: 10px 10% 0 10%;
  position: absolute;
  overflow-x: scroll;
  padding-right: 10px;
}
.category {
  width: 100%; height: 40px;
  background: #1641f7;
  margin: 10px 0;
  border-radius: 5px;
  border: 0.5px solid #182234;
  color: #ffffff;
  cursor: pointer;
}
.category p{
  color: #ffffff;
  width: 224px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  margin: 11px 0 11px 0;
  text-align: center;
}
.category img{
  width: 15px; height: 15px;
  right: 0;
  padding: 12.5px;
  position: absolute;
  background: #1641f7;
  border-left: 1px solid #1236d1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
.category img:hover{
  background: #1439d6;
}
#carpets-box {
  width: 90%; height: calc(100% - 260px);
  margin: 10px 5% 0 5%;
  position: absolute;
  overflow-x: scroll;
  padding-right: 10px;

}
#carpets-title{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300; font-size: 18px;
  color: #4c678c;
  margin: 20px 0;
}
.carpet-fill {
  text-align: center;
  width: 90%; height: 40px;
  background: #141e2d;
  position: relative;
  margin: 5px 5%;
  border-radius: 5px;
  border: 0.5px solid #182234;
  color: #ffffff;
  cursor: pointer; outline: none;
}
.carpet-fill p{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300; font-size: 18px;
  color: #4c678c;
}
.carpet-fill:hover {
  background: #121b29;
}
#carpet-add-box {
  width: 90%; height: 40px;
  margin: 5px 5%;
  border-radius: 5px;
  background: #141e2d;
}
#carpet-add-box img{
  width: 18px; height: 15px;
  position: absolute;
  cursor: pointer;
  background: #384b66;
  outline: none;
  padding: 12.5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #1A2639;
}
#carpet-add-box img:hover{
  background: #2f3f55;
}
#carpet-add-box input[type="text"]{
  width: calc(100% - 64px); height: 37px;
  background: #141e2d; color: #4c678c;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; font-size: 16px;
  outline: none; border: none;
  position: relative; top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-left: 44px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 10px 0 10px;
}
#carpet-add-box input[type="text"]::-webkit-input-placeholder {
   color: #4c678c;
}
#carpet-add-box input[type="text"]::-moz-placeholder {
   color: #4c678c;
}
#carpet-add-box input[type="text"]:-ms-input-placeholder {
   color: #4c678c;
}
